{% extends "layouts/wrapper.njk" %}

{% block body %}
<main>
</main>
{% endblock %}

{% block footer_scripts %}
<script src="https://challenges.cloudflare.com/turnstile/v0/api.js?onload=onloadTurnstileCallback" async defer></script>
<script src="/assets/js/viacep.js"></script>
{% endblock %}