{#
Use lighthouse test to check what assets to load 
<link rel="preconnect" href="https://cddc.com.br">
<link rel="preload" href="{{ '/assets/fonts/montserrat-v25-latin-200.woff2' | url }}" as="font" type="font/woff2" crossorigin>
#}
<link rel="preconnect" href="{{ site.img.domain }}">