<small>
    <a href="https://cddc.com.br/#utm_source={{ page.id }}&utm_medium=%7B%7B{{ site.url }}%7D%7D&utm_campaign=backlinks" target="_blank">
        {{ "now" | date: "%Y" }} · por CDDC
    </a>
</small>